/* src/components/Navigation.css */

:root {
    --primary-green: #059669;
    /* Ciemniejsza zieleń dla kontrastu na białym */
    --text-dark: #1e293b;
    /* Prawie czarny */
    --text-gray: #64748b;
    /* Szary */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    background: var(--nav-bg);



    position: sticky;
    top: 0;
    z-index: 1000;

    /* TU JEST ZMIANA - Większy i ciemniejszy cień */
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
}

/* Logo - ciemne na białym tle */
.nav-logo {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--text-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-links-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Linki */
.nav-item {
    text-decoration: none;
    color: var(--text-gray);
    font-weight: 600;
    font-size: 0.95rem;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.nav-item:hover {
    color: var(--primary-green);
    background: rgba(5, 150, 105, 0.05);
}

/* Aktywny link */
.nav-item.active {
    color: var(--primary-green);
    background: rgba(5, 150, 105, 0.1);
}

/* Przycisk Login */
.nav-btn-login {
    background-color: var(--text-dark);
    color: white !important;
    padding: 8px 20px;
    border-radius: 8px;
    margin-left: 10px;
}

.nav-btn-login:hover {
    background-color: black;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}