#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.card {
  padding: 32px;
}

/* Na telefonach */
@media (max-width: 768px) {
  #root {
    padding: 16px;
  }
  
  .card {
    padding: 24px;
  }
}
